/*section header*/
.header {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  border-bottom: 2px solid var(--cor-verde);
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.video720 {
  display: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  position: relative;
  align-items: center;
  padding: 0 2rem;
  box-sizing: border-box;
}

.logo {
  width: 150px;
  z-index: 99999;
}

#menu-hamburguer {
  display: none;
}

#menu-hamburguer:checked ~ .nav {
  display: grid;
  opacity: 1;
  pointer-events: auto;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: var(--cor-verde);
  width: 100%;
  height: 100vh;
  transition:
    opacity 1s ease,
    transform 1s ease-out;
}

#menu-hamburguer:checked + .label__menu {
  background-image: url("../assets/menu-closed.svg");
}

.label__menu {
  display: block;
  background-image: url("../assets/menu-button.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  width: 52px;
  height: 52px;
  z-index: 99999;
}

.nav {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  box-sizing: border-box;
  z-index: 9999;
}

.menu__nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: var(--cor-cobre);
  font-size: 2rem;
  border: 2px inset var(--cor-branca);
  border-radius: 20%;
}

.menu__nav img {
  display: block;
  max-width: 200px;
  width: 100%;
  height: auto;
}

.menu__nav:hover {
  background: var(--gradiente-texto);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header__texto {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  z-index: 1;
}

.typewriter {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 40px;
  background: var(--gradiente-principal);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 1;
  width: 46ch;
  text-align: left;
}

.header__p {
  font-style: italic;
  font-weight: 500;
  color: var(--cor-cobre);
}

.header__btn {
  background: var(--gradiente-principal);
  color: var(--cor-branca);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  border-radius: 5px;
  border: 1px solid var(--cor-verde);
}

.header__btn:hover {
  background: var(--cor-verde);
  color: var(--cor-branca);
  transition: background 1s ease-in-out;
}

@media (max-width: 480px) {
  .video-bg {
    display: none;
  }

  .header {
    background-image: url("../assets/headerbgpostermob.webp");
    background-repeat: no-repeat;
  }

  .typewriter {
    min-height: 260px;
  }
}

@media (max-width: 600px) {
  .menu {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 4rem;
  }

  .menu__nav {
    font-size: 1rem;
    border: unset;
    border-bottom: 1px solid var(--cor-branca);
  }

  .video-bg {
    display: none;
  }

  .video720 {
    display: block;
  }
}

@media (max-width: 768px) {
  .video-bg {
    display: none;
  }

  .video720 {
    display: block;
  }
}

@media (max-width: 1024px) {
  .typewriter {
    width: unset;
    text-align: center;
    min-height: 128px;
  }
}
/*section header*/