@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-display: swap;
}

:root {
  --cor-verde-primaria:#3BC1A8;
  --cor-verde-secundaria:#249E94;
  --cor-amarelo: #ffd600;
  --cor-preto: #000000;
  --cor-branco: #FFFFFF;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--cor-verde-secundaria);
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--cor-branco);
}

.header {
  display: block;
  background: var(--cor-verde-escuro);
  text-align: center;
}

.nav {
  display: flex;
  margin-left: 15%;
}

.menu {
  display: flex;
  gap: 2em;
}

.menu__nav {
  color: var(--cor-verde-secundaria);
  text-decoration: none;
  font-weight: bold;
  padding: 0.3em;
  border-radius: 8px;
  box-shadow: 1px 3px var(--cor-amarelo);
}

.menu__nav:hover {
  background-color: var(--cor-amarelo);
  padding: 0.3em;
  color: var(--cor-verde-escuro);
  border-radius: 5px;
}

.header p {
  font-size: 30px;
  font-weight: 800;
}

.hero {
  text-align: center;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos h2 {
  text-align: center;
}

.servicos__container {
  display: flex;
  padding: 1rem;
  width: 90%;
  gap: 2%;
  margin-bottom: 5%;
  position: relative;
  border-radius: 10px;
  box-shadow: 1px 3px var(--cor-amarelo);
}

.servicos__text {
  flex: 1;
  padding: 1rem;
  max-width: 40%;
  color: var(--cor-verde-secundaria);
  font-weight: 700;
  position: relative;
}

.servicos__img img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 7px 8px 7px var(--cor-amarelo);
}

.servicos__img {
  width: min(500px, 60%);
  transition: transform 0.2s ease;
}

.servicos__img:hover {
  transform: scale(1.1);
}

.servicos__container.reverse {
  flex-direction: row-reverse;
}

.servicos__container.reverse .servicos__text {
  border-radius: 10px;
}

.servicos__container.reverse .servicos__img img {
  border-radius: 10px;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.hero__btn {
  background: var(--cor-amarelo);
  color: var(--cor-verde-secundaria);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}

.contato {
  display: grid;
  justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 1em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
}

.contato button {
  background: var(--cor-amarelo);
  color: var(--cor-verde-secundaria);
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1em;
  font-size: 20px;
}

.whatsapp-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
}

.whatsapp-btn img {
  height: 100%;
  transition: transform 0.5s ease;
}

.whatsapp-btn img:hover {
  transform: scale(1.2);
}

.footer {
  background: #004d40;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 10px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}