@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-display: swap;
}

:root {
  --cor-primaria-background: #25671e;
  --cor-secundaria-background: #48a111;
  --cor-primaria-texto: #f7f0f0;
  --cor-secundaria-texto: #25671e;
  --cor-primaria-botao: #f2b50b;
  --cor-secundaria-botao: #f7f0f0;
  --cor-branca: #f7f0f0;
  --cor-preta: #000000;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--cor-primaria-texto);
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--cor-primaria-background);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0.5rem 2rem;
}

.header__phrase {
  font-weight: bold;
  color: var(--cor-branca);
  text-align: center;
  padding-bottom: 1rem;
}

header img {
  width: 150px;
}

.header__btn {
  background: var(--cor-primaria-botao);
  color: var(--cor-secundaria-texto);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: 999;
  border-radius: 5px;
  margin-top: 1rem;
}

.nav {
  display: flex;
  border-radius: 8px;
  box-shadow: 3px 3px 20px var(--cor-branca);
}

.menu {
  display: flex;
  gap: 2em;
  padding: 0.1em 0.5em 0.1em 0.5em;
  list-style: none;
}

.menu__nav {
  color: var(--cor-branca);
  text-decoration: none;
  font-weight: 300;
  padding: 0.3em;
  border-radius: 8px;
}

.menu__nav:hover {
  background-color: var(--cor-secundaria-background);
  padding: 0.3em;
  color: var(--cor-preta);
  border-radius: 5px;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  border-bottom: 1px solid var(--cor-branca);
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos__container {
  display: flex;
  padding: 1rem;
  width: 90%;
  gap: 2%;
  margin-bottom: 5%;
  border-radius: 8px;
  justify-content: space-between;
}

.servicos__text {
  padding: 1rem;
  max-width: 60%;
  color: var(--cor-secundaria-texto);
  text-align: justify;
  width: auto;
  height: auto;
  background-color: var(--cor-branca);
  border-radius: 8px;
}

.servicos__text h3 {
  color: var(--cor-secundaria-texto);
  font-size: 22px;
}

.servicos__text strong {
  color: var(--cor-secundaria-texto);
  font-weight: bold;
}

.servicos__img img {
  width: 100%;
  max-height: 1200px;
  border-radius: 8px;
}

.servicos__img {
  width: min(500px, 70%);
}

.servicos__container.reverse {
  flex-direction: row-reverse;
}

.sobre {
  display: block;
  text-align: center;
}

.sobre__img {
  width: 100%;
}

.contato {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.contato h2 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1em;
}

.contato button {
  background: var(--cor-primaria-botao);
  color: var(--cor-preta);
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1em;
  font-size: 20px;
}

.whatsapp-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
}

.whatsapp-btn img {
  height: 100%;
  transition: transform 0.5s ease;
}

.whatsapp-btn img:hover {
  transform: scale(1.2);
}

.footer {
  background: var(--cor-branca);
  color: var(--cor-preta);
  text-align: center;
  padding: 1rem;
  font-size: 10px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
