@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-display: swap;
}

:root {
  --cor-verde-escuro: #3B8B7E;
  --cor-verde-claro: #e0f2f1;
  --cor-btn-amarelo: #ffd600;
  --cor-preto: #000000;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #222222;
  line-height: 1.6;
  font-size: 16px;
  background-color: var(--cor-verde-claro);
}

.header {
  display: block;
  background: var(--cor-verde-escuro);
  text-align: center;
}

.nav {
  display: flex;
  margin-left: 15%;
}

.menu {
  display: flex;
  gap: 2em;
}

.menu__nav {
  color: var(--cor-verde-claro);
  text-decoration: none;
  font-weight: bold;
  padding: 0.3em;
  border: 1px solid var(--cor-btn-amarelo);
  border-radius: 8px;
}

.menu__nav:hover {
  background-color: var(--cor-btn-amarelo);
  padding: 0.3em;
  color: var(--cor-verde-escuro);
  border-radius: 5px;
}

.header p {
  font-size: 30px;
  color: var(--cor-verde-claro);
}

.hero {
  color: white;
  text-align: center;
  padding: 1.5em 1em;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
  color: white;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos h2 {
  text-align: center;
}

.servicos__container {
  display: flex;
  padding: 1rem;
  width: 90%;
  align-items: stretch;
}

.servicos__text {
  flex: 1;
  border: solid 2px var(--cor-verde-escuro);
  border-right: none;
  border-radius: 10px 0 0 10px;
  padding: 1rem;
  max-width: 30%;
}

.servicos__img img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

.servicos__img {
  width: min(500px, 60%);
}

.servicos__container.reverse {
  flex-direction: row-reverse;
}

.servicos__container.reverse .servicos__text {
  border: 2px solid var(--cor-verde-escuro);
  border-left: none;
  border-radius: 0 10px 10px 0;
}

.servicos__container.reverse .servicos__img img {
  border-radius: 10px 0 0 10px;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 22px;
}

.hero .btn {
  background: #ffd600;
  color: #004d40;
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}

.contato {
  display: grid;
  justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 1em;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1em;
}

.contato button {
  background: #004d40;
  color: white;
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1em;
  font-size: 20px;
}

.footer {
  background: #004d40;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 10px;
}
