:root {
  --cor-verde-escuro: #004d40;
  --cor-verde-claro: #e0f2f1;
  --cor-btn-amarelo: #ffd600;
  --cor-preto: #000000;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button,
ul,
ol,
li {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #222222;
    line-height: 1.6;
    background-repeat: no-repeat;
    font-size: 20px;
}

.header {
    background: var(--cor-verde-escuro);
    padding: 1em;
    position: relative;

}

.header p {
    font-size: 30px;
    color: var(--cor-verde-claro);
}

.nav .container {
    display: flex;
    align-items: center;
}

.logo {
    color: white;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: none;
}

.menu {
    display: flex;
    gap: 2em;
}

.menu__nav {
    color: var(--cor-verde-claro);
    text-decoration: none;
    font-weight: bold;
    padding: .3em;
}

.menu__nav:hover {
  background-color: var(--cor-btn-amarelo);
  padding: .3em;
  color: var(--cor-verde-escuro);
  border-radius: 5px;
}

.hero {
    color: white;
    text-align: center;
    padding: 1.5em 1em;
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero__content {
  position: relative;
  z-index: 2;
  color: white;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

.hero .btn {
    background: #ffd600;
    color: #004d40;
    padding: .8rem 1.5rem;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    margin-top: 1rem;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: auto;
}

.grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card {
    background: #e0f2f1;
    padding: 1.5rem;
    border-radius: 8px;
}

.card img {
    margin-left: .5em;
}

.servicos__li {
    display: grid;
    margin-top: 2em;
    color: var(--cor-preto);
    background-color: transparent;
    font-size: 20px;
    text-align: center;
}

li {
    display: flex;
    gap: .5em;
    margin-bottom: 1em;
}

.sobre {
  display: grid;
  width: 60%;
  position: relative;
}

.sobre p {
    font-weight: 500;
    color: var(--cor-preto);
    min-height: 64px;
}

.contato {
  display: grid;
  justify-content: center;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 1em;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 1em;
}

.contato button {
    background: #004d40;
    color: white;
    padding: .8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-bottom: 1em;
    font-size: 20px;
}

.footer {
    background: #004d40;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 10px;
}