@font-face {
  font-family: "Montserrat";
  src: url(../fontes/Montserrat-Regular.ttf);
  font-display: swap;
}

:root {
  --cor-primaria: #ffffff;
  --cor-secundaria: #000000;
  --cor-amarelo-primario: #ffd600;
  --cor-preto: #000000;
  --cor-branco: #ffffff;
}

/* CSS RESET */
body,
img,
h1,
p,
fieldset,
legend,
label,
input,
select,
textarea,
button {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--cor-branco);
  line-height: 1.6;
  font-size: 16px;
}

.header {
  display: flex;
  background: var(--cor-preto);
  text-align: center;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  padding: 0.5rem 2rem;
}

.header__phrase {
  font-weight: bold;
  color: var(--cor-branco);
  text-align: center;
  background-color: var(--cor-preto);
  padding-bottom: 1rem;
}

header img {
  width: 150px;
}

.nav {
  display: flex;
  border-radius: 8px;
  box-shadow: 3px 3px 20px var(--cor-branco);
}

.menu {
  display: flex;
  gap: 2em;
  padding: 0.1em 0.5em 0.1em 0.5em;
}

.menu__nav {
  color: var(--cor-branco);
  text-decoration: none;
  font-weight: 300;
  padding: 0.3em;
  border-radius: 8px;
}

.menu__nav:hover {
  background-color: var(--cor-amarelo-primario);
  padding: 0.3em;
  color: var(--cor-preto);
  border-radius: 5px;
}

h1 {
  margin-bottom: 0.5em;
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  background-color: var(--cor-preto);
  border-bottom: 1px solid var(--cor-amarelo-primario);
}

.hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
  border: 1px solid var(--cor-amarelo-primario);
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.servicos__container {
  display: flex;
  padding: 1rem;
  width: 90%;
  gap: 2%;
  margin-bottom: 5%;
  border-radius: 8px;
  box-shadow: 5px 2px 20px 0px var(--cor-branco);
  justify-content: space-between;
}

.servicos__text {
  flex: 1;
  padding: 1rem;
  max-width: 60%;
  color: var(--cor-branco);
  font-weight: 500;
  position: relative;
  text-align: justify;
}

.servicos__text strong {
  color: var(--cor-amarelo-primario);
  font-weight: 950;
}

.servicos__img img {
  width: 100%;
  height: 350px;
  display: block;
  object-fit: cover;
  border-radius: 10px;
}

.servicos__img {
  width: min(500px, 70%);
}

.servicos__container.reverse {
  flex-direction: row-reverse;
  box-shadow: 5px 2px 20px 0px var(--cor-amarelo-primario);
}

.servicos__container.reverse.servicos__text {
  border-radius: 10px;
}

.servicos__container.reverse.servicos__img img {
  border-radius: 10px;
}

h3 {
  font-size: 22px;
  font: bold;
  color: var(--cor-amarelo-primario);
}

.hero__btn {
  background: var(--cor-amarelo-primario);
  color: var(--cor-preto);
  padding: 0.8rem 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 1rem;
}

.sobre {
  display: block;
  text-align: center;
}

.sobre__img {
  width: 100%;
}

.contato {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  padding: 1em;
}

.contato h2 {
  text-align: center;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  padding: 1em;
  width: 100%;
  border-radius: 5px;
  margin-bottom: 1em;
}

.contato button {
  background: var(--cor-amarelo-primario);
  color: var(--cor-preto);
  padding: 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 1em;
  font-size: 20px;
}

.whatsapp-btn {
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 20px;
  right: 10px;
  z-index: 1000;
}

.whatsapp-btn img {
  height: 100%;
  transition: transform 0.5s ease;
}

.whatsapp-btn img:hover {
  transform: scale(1.2);
}

.footer {
  background: var(--cor-branco);
  color: var(--cor-preto);
  text-align: center;
  padding: 1rem;
  font-size: 10px;
}

.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.6s ease;
}

.reveal.active {
  opacity: 1;
  transform: translateY(0);
}
