/*section video*/
.video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: var(--cor-cobre);
  gap: 1rem;
}

.video__texto {
    text-align: center;
    margin-bottom: 1rem;
}

.video__texto h2 {
  color: var(--cor-verde);
  font-weight: 500;
  text-transform: uppercase;
}

.video__texto a {
    text-decoration: none;
    background-color: var(--cor-branca);
    color: var(--cor-verde);
    padding: 1rem;
    border-radius: 8px;
    align-self: center;
    font-weight: 500;
}

.video__texto a:hover {
  background-color: var(--cor-verde);
  color: var(--cor-branca);
  transition: background 1s ease-in-out;
}

.video-embed {
  position: relative;
  width: 100%;
  padding-bottom: 50%;
  height: 0;
  overflow: hidden;
}

.video-embed iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*section video*/